/* RESET STYLE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", Arial, sans-serif;
}

body {
    background: #ffffff;
}

/* LAYOUT */
.admin-container {
    display: flex;
    min-height: 100vh;
}

/* SIDEBAR */
.sidebar {
    width: 220px;
    background: #111;
    padding-top: 40px;
    color: white;
}

.sidebar a {
    display: block;
    padding: 15px 25px;
    margin-bottom: 8px;
    color: #ddd;
    text-decoration: none;
    font-size: 16px;
    transition: 0.2s;
}

.sidebar a:hover {
    background: #222;
    color: #fff;
}

/* MAIN CONTENT */
.main {
    flex: 1;
    padding: 50px;
}

/* TITLE */
.main h2 {
    text-align: center;
    color: #e63946;
    font-size: 26px;
    margin-bottom: 35px;
    font-weight: 700;
}

/* TABLE */
table {
    width: 70%;
    margin: 0 auto;
    border-collapse: collapse;
    font-size: 16px;
}

th {
    background: #f5f5f5;
    font-weight: 700;
}

th, td {
    padding: 14px;
    border: 1px solid #ccc;
    text-align: left;
}

tr:hover {
    background: #fafafa;
}

/* ACTION BUTTONS */
.action a {
    padding: 6px 10px;
    margin-right: 8px;
    background: #e5e5e5;
    border-radius: 5px;
    font-size: 14px;
    text-decoration: none;
    color: #000;
    transition: .2s;
}

.action a:hover {
    background: #d0d0d0;
}
