body {
    font-family: Arial;
    margin: 0;
    background: #f7f7f7;
}

.header {
    background: black;
    color: white;
    padding: 20px;
    text-align: center;
}

.banner img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    display: block;
}

.product-section {
    padding: 20px;
}

.product-section h2 {
    margin-bottom: 10px;
}

.product-slider {
    display: flex;
    gap: 15px;
    overflow-x: auto;
    padding-bottom: 10px;
}

.product-slider::-webkit-scrollbar {
    height: 8px;
}

.product-slider::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 10px;
}

.product-card {
    min-width: 180px;
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    text-align: center;
}

.product-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.price {
    font-weight: bold;
    color: red;
    margin-top: 5px;
}
